/* Default styling*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

ul {
    list-style-type: none;
}

.header-links a {
    text-decoration: none;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

/* Content styling */
/* Header */
.header {
    min-height: 30px;
    background-color: #1F2937;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

ul.header-links {
    display: flex;
    gap: 16px;
}

ul.header-links li a {
    font-size: 18px;
    color: #e5e7eb;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

/* Hero */
.hero {
    min-height: fit-content;
    background-color: #1F2937;
}

.hero .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 16px;
}

.hero-content {
    max-width: 450px;
}

.hero-header {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-text {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 8px;
}

.hero-content button {
    border: none;
    border-radius: 8px;
    background-color: #3882f6;
    color: #f9faf8;
    padding: 8px 32px;
    font-weight: bold;
}

.hero-image {
    width: 450px;
    height: 250px;
    flex: none;

    /* Placeholder stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    color: #fff;
}

/* Main */
.main {
    min-height: fit-content;
}

.main .container {
    padding: 50px 16px 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.main h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-bottom: 50px;
}

.main .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 52px;
}

.main .card {
    width: 170px;
    text-align: center;
}

.main .card .card-image {
    width: 170px;
    height: 170px;
    border-radius: 8px;
    border: 4px #3882f6 solid;
}

.main .card .card-text {
    color: #777;
}

/* Quote */
.quote-section {
    background-color: #e5e7eb;
    min-height: fit-content;
}

.quote-section .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 100px 16px;
    max-width: 830px;
}

.quote-section .quote {
    font-size: 36px;
    font-weight: 300;
}

.quote-section .reference {
    font-weight: bold;
    align-self: flex-end;
}